@using PlcCreatorSystem_Utility;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc

@{
    var user = httpAcc.HttpContext.User;
    var role = user?.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
    var token = httpAcc.HttpContext?.Session.GetString(SD.SessionToken);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlcCreatorSystem_WEB</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlcCreatorSystem_WEB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">PlcCreatorSystem_WEB</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                        aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNav">
                    <!-- LEFT -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (!string.IsNullOrEmpty(token))
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="IndexProject">Project</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="PLC" asp-action="IndexPlc">PLC</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="HMI" asp-action="IndexHmi">HMI</a></li>
                        }
                    </ul>
                    <!-- RIGHT -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (!string.IsNullOrEmpty(token))
                        {
                            @* Only admin sees Users List *@
                            if (string.Equals(role, "admin", StringComparison.OrdinalIgnoreCase))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Auth" asp-action="IndexUser">Users List</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                            <li class="nav-item disabled">
                                <a class="nav-link" style="opacity:1; color: #0d6efd">
                                    Hello @user?.Identity?.Name, yor access is: @role
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - PlcCreatorSystem_WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
