@model PlcCreatorSystem_WEB.Models.VM.ProjectCreateVM

<form asp-action="Create Project">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Create Project</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="project.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="project.Name" class="form-control" />
                <span asp-validation-for="project.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="project.PlcID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="project.PlcID" class="form-select" asp-items="@Model.plcList">
                    <option disabled selected>--Select PLC--</option>
                </select>
                <span asp-validation-for="project.PlcID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="project.HmiID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="project.HmiID" class="form-select" asp-items="@Model.hmiList">
                    <option disabled selected>--Select HMI--</option>
                </select>
                <span asp-validation-for="project.HmiID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="project.CustomerDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="project.CustomerDetails" class="form-control" />
                <span asp-validation-for="project.CustomerDetails" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="project.Status" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="project.Status" class="form-control" />
                <span asp-validation-for="project.Status" class="text-danger"></span>
            </div>
            
            <div class="col-5 offset-2">
                <a asp-action="IndexProject" asp-controller="Project" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}