@model PlcCreatorSystem_WEB.Models.VM.ProjectDeleteVM

<form asp-action="DeleteProject">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Delete Project</h1>
        <hr />

        <input hidden asp-for="projectVM.Id" />
        <div class="row">
            <div class="col-2">
                <label asp-for="projectVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectVM.Name" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="projectVM.PlcID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectVM.PlcID" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="projectVM.HmiID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectVM.HmiID" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="projectVM.CustomerDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectVM.CustomerDetails" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="projectVM.Status" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectVM.Status" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="projectVM.UserID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="projectVM.UserID" disabled class="form-control" rows="1"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexProject" asp-controller="Project" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
