@model PlcCreatorSystem_WEB.Models.VM.ProjectUpdateVM

<form asp-action="UpdateProject">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Update Project</h1>
        <hr />
        <input hidden asp-for="projectUpdateVM.Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectUpdateVM.Name" class="form-control" />
                <span asp-validation-for="projectUpdateVM.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.PlcID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectUpdateVM.PlcID" class="form-select" asp-items="@Model.plcList">
                    <option disabled selected>--Select PLC--</option>
                </select>
                <span asp-validation-for="projectUpdateVM.PlcID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.HmiID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectUpdateVM.HmiID" class="form-select" asp-items="@Model.hmiList">
                    <option disabled selected>--Select HMI--</option>
                </select>
                <span asp-validation-for="projectUpdateVM.HmiID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.CustomerDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectUpdateVM.CustomerDetails" class="form-control" />
                <span asp-validation-for="projectUpdateVM.CustomerDetails" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.Status" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectUpdateVM.Status" class="form-select" asp-items="Model.statusList">
                    <option disabled selected>-- Select Status --</option>
                </select>
                <span asp-validation-for="projectUpdateVM.Status" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectUpdateVM.UserID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectUpdateVM.UserID" class="form-select" asp-items="@Model.usersList">
                    <option disabled selected>--Select User--</option>
                </select>
                <span asp-validation-for="projectUpdateVM.UserID" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexProject" asp-controller="Project" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}