@model PlcCreatorSystem_WEB.Models.VM.PlcCreateVM
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@{
    var user = httpAcc.HttpContext.User;
}

<form asp-action="CreatePlc">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Create Plc</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-dnager"></div>

            <div class="col-2">
                <label asp-for="plcCreateVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.Name" class="form-control" />
                <span asp-validation-for="plcCreateVM.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.Subnet_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.Subnet_X1" class="form-control" />
                <span asp-validation-for="plcCreateVM.Subnet_X1" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.IP_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.IP_X1" class="form-control" />
                <span asp-validation-for="plcCreateVM.IP_X1" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.Subnet_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.Subnet_X2" class="form-control" />
                <span asp-validation-for="plcCreateVM.Subnet_X2" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.IP_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.IP_X2" class="form-control" />
                <span asp-validation-for="plcCreateVM.IP_X2" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.Identyfier" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcCreateVM.Identyfier" class="form-control" />
                <span asp-validation-for="plcCreateVM.Identyfier" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcCreateVM.Details" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <textarea asp-for="plcCreateVM.Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="plcCreateVM.Details" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Author</label>
            </div>
            <div class="col-10 pb-3">
                <div class="btn btn-warning form-control text-center" style="pointer-events:none; cursor:default;">
                    @User.Identity?.Name
                </div>

                <input type="hidden" asp-for="plcCreateVM.UserID"
                           value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexPlc" asp-controller="PLC" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}