@model PlcCreatorSystem_WEB.Models.VM.PlcDeleteVM

<form asp-action="DeletePlc">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">DeletePlc</h1>
        <hr />

        <input hidden asp-for="plcDeleteVM.Id" />
        <div class="row">
            <div class="col-2">
                <label asp-for="plcDeleteVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.Name" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.Subnet_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.Subnet_X1" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.IP_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.IP_X1" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.Subnet_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.Subnet_X2" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.IP_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.IP_X2" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.Identyfier" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <input asp-for="plcDeleteVM.Identyfier" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.Details" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <textarea asp-for="plcDeleteVM.Details" disabled class="form-control" rows="5"></textarea>
            </div>

            <div class="col-2">
                <label asp-for="plcDeleteVM.UserID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcDeleteVM.UserID" class="form-control" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexPlc" asp-controller="PLC" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}