@model PlcCreatorSystem_WEB.Models.VM.PlcUpdateVM

<form asp-action="UpdatePlc">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Update Plc</h1>
        <hr />

        <input hidden asp-for="plcUpdateVM.Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-dnager"></div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.Name" class="form-control" />
                <span asp-validation-for="plcUpdateVM.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.Subnet_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.Subnet_X1" class="form-control" />
                <span asp-validation-for="plcUpdateVM.Subnet_X1" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.IP_X1" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.IP_X1" class="form-control" />
                <span asp-validation-for="plcUpdateVM.IP_X1" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.Subnet_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.Subnet_X2" class="form-control" />
                <span asp-validation-for="plcUpdateVM.Subnet_X2" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.IP_X2" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.IP_X2" class="form-control" />
                <span asp-validation-for="plcUpdateVM.IP_X2" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.Identyfier" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="plcUpdateVM.Identyfier" class="form-control" />
                <span asp-validation-for="plcUpdateVM.Identyfier" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.Details" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10  pb-3">
                <textarea asp-for="plcUpdateVM.Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="plcUpdateVM.Details" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="plcUpdateVM.UserID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="plcUpdateVM.UserID" class="form-select" asp-items="@Model.usersList">
                    <option disabled selected>--Select User--</option>
                </select>
                <span asp-validation-for="plcUpdateVM.UserID" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexPlc" asp-controller="PLC" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}